CREATE DATABASE IF NOT EXISTS smart_playground;
USE smart_playground;

-- Users table
CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE,
    phone VARCHAR(15) UNIQUE NOT NULL,
    password VARCHAR(255),
    profile_pic VARCHAR(255),
    reward_points INT DEFAULT 0,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Playgrounds table
CREATE TABLE IF NOT EXISTS playgrounds (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    address VARCHAR(255),
    latitude DOUBLE,
    longitude DOUBLE,
    sports VARCHAR(255),
    price_per_hour DECIMAL(10,2),
    rating FLOAT DEFAULT 0,
    reviews_count INT DEFAULT 0,
    status VARCHAR(50) DEFAULT 'Open Now'
);

-- Slots and Real-time Locking
CREATE TABLE IF NOT EXISTS slots (
    id INT AUTO_INCREMENT PRIMARY KEY,
    ground_id INT,
    slot_time VARCHAR(50),
    is_booked TINYINT(1) DEFAULT 0,
    locked_until DATETIME,
    locked_by_user INT,
    FOREIGN KEY (ground_id) REFERENCES playgrounds(id),
    FOREIGN KEY (locked_by_user) REFERENCES users(id)
);

-- Bookings table
CREATE TABLE IF NOT EXISTS bookings (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT,
    ground_id INT,
    booking_date DATE,
    time_slot VARCHAR(50),
    amount DECIMAL(10,2),
    booking_id_str VARCHAR(20) UNIQUE,
    qr_code VARCHAR(255),
    status ENUM('Upcoming', 'Completed', 'Cancelled') DEFAULT 'Upcoming',
    payment_status VARCHAR(20) DEFAULT 'Paid',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(id),
    FOREIGN KEY (ground_id) REFERENCES playgrounds(id)
);

-- Equipment table
CREATE TABLE IF NOT EXISTS equipment (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    category VARCHAR(50),
    price_per_day DECIMAL(10,2),
    stock INT DEFAULT 0,
    image_url VARCHAR(255)
);

-- Equipment Rentals
CREATE TABLE IF NOT EXISTS rentals (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT,
    equipment_id INT,
    rental_date DATE,
    duration VARCHAR(20),
    amount DECIMAL(10,2),
    status VARCHAR(20) DEFAULT 'Active',
    FOREIGN KEY (user_id) REFERENCES users(id),
    FOREIGN KEY (equipment_id) REFERENCES equipment(id)
);

-- Teams and Community
CREATE TABLE IF NOT EXISTS teams (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    sport VARCHAR(50),
    creator_id INT,
    players_needed INT,
    location VARCHAR(100),
    FOREIGN KEY (creator_id) REFERENCES users(id)
);

-- Admins table
CREATE TABLE IF NOT EXISTS admins (
    id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(50) UNIQUE,
    password VARCHAR(255)
);

-- Sample Data for Playgrounds

-- Sample Data for Equipment
INSERT IGNORE INTO equipment (id, name, category, price_per_day, stock) VALUES
(1, 'Cricket Kit', 'Sports', 300.00, 10),
(2, 'Football', 'Sports', 100.00, 20),
(3, 'Badminton Racket', 'Sports', 150.00, 15),
(4, 'Camping Tent', 'Party', 500.00, 5),
(5, 'DJ Speaker', 'Party', 1200.00, 3),
(6, 'Cooler', 'Party', 400.00, 8);

-- Default Admin
INSERT IGNORE INTO admins (username, password) VALUES ('admin', 'admin123');
